body, html {
  height: 100%;
  background-color: white;
}

/* The hero image */
.hero-image {
background-image: url("IMAGE/benchaccounting.jpeg");
/* Restrict image height */
height: 80%;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Text overlay on image */
  .hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: black;
font-family: 'Raleway', sans-serif;
}

/* Centre an Image */
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Button Design*/
.button { 
 /* background-color: white; */
  opacity: 100;
  color: black;
  border: 1.5px solid;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.button:hover {
  background-color: black;
  color: white;
}

/* Side by Side image formatting here. Three image containers (use 25% for four, and 50% for two, etc)*/

  * {
    box-sizing: border-box;
  }

  /* In 2 columns */
    .column_2 {
      float: left;
      width: 50%;
      padding: 5px;
    }
    .row_2 {
      display: flex;
    }
    .column_2 {
      flex: 50%;
      padding: 5px;
    }

  /* In 3 columns */
    .column_3 {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
    .row_3 {
      display: flex;
    }
    .column_3 {
      flex: 20%;
      padding: 5px;
    }

  /* In 5 columns */
  .column_5 {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .row_5 {
    display: flex;
  }
  .column_5 {
    flex: 20%;
    padding: 5px;
  }

    /* Clear floats after image containers .row_aboutus,  */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
  }

h3 { /*This is for the 'we are microbit tinkers' because it's alignment is affected by the margins for <p> */
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
  
p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
  }

figcaption {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  }

.pcontent, ul, li {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 15px;
  }

a {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
}

footer {
  background-color: rgb(3, 3, 39);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 8px;
  font-weight: lighter;
  color: white;
}

.footerclicked {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
  color: aliceblue;
}

/* Adjusting hyperlink appearance*/
a {
  background-color:rgb(3, 3, 39);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}