.logotext {
    font-family: 'Poppins', sans-serif;
    position:fixed; top:10; left:20;
    font-size: 16px;
}

.bodytext{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.columntext {
    -webkit-columns: 2 200px;
       -moz-columns: 2 200px;
            columns: 2 200px;
    -webkit-column-gap: 4em;
       -moz-column-gap: 4em;
            column-gap: 4em;
    -webkit-column-rule: 1px dotted #ddd;
       -moz-column-rule: 1px dotted #ddd;
            column-rule: 1px dotted #ddd;
  }